github "ReactiveX/RxSwift"
# github "RxSwiftCommunity/RxDataSources"
# github "RxSwiftCommunity/RxSwiftExt"
# github "RxSwiftCommunity/RxReduce"
github "socketio/socket.io-client-swift" ~> 13.3.0
github "krzyzanowskim/CryptoSwift"
github "alibaba/HandyJSON" ~> 4.2.0
github "IBM-Swift/BlueSocket" 
